<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if no_bot == True %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if 'site' in g and g.site %}
  <title>{{ g.site.name }}</title>
  <meta property="og:type" content="website" />
    {% if opengraph -%}
    <meta property="og:site_name" content="{{ g.site.name }}" />
    <meta property="og:title" content="{{ opengraph['title'] }}" />
    <meta property="og:url" content="{{ opengraph['url'] }}" />
    <meta property="og:description" content="{{ opengraph['description'] }}" />
    <meta property="og:image" content="{{ opengraph['image'] }}" />
    {% else -%}
    <meta property="og:title" content="{{ g.site.name }}" />
    <meta property="og:url" content="{{ config['BASE_URL'] }}" />
    <meta property="og:image" content="{{ g.site.get_logo_uri() }}" />
    <meta property="og:description" content="{{ g.site.get_short_description() }}" />
    {% endif -%}
  {% endif %}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery/jquery-ui.min.js"></script>
  <script src="/static/bootstrap/popper.1.16.1.min.js"></script>
  <script src="/static/bootstrap/4.6.1/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap/4.6.1/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/liberaforms.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>

{% if current_user.is_authenticated or navbar != False %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-full"
     style="background-color:{{g.site.primary_color}}">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/favicon.ico" /></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    {% if current_user.is_authenticated %}
      <ul class="navbar-nav">
        {% if current_user.enabled %}
          {% if g.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="/admin/forms">
                {%trans%}Forms{%endtrans%}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                {# i18n: Used as website menu title, only for admin, linking to page about instance users #}
                {%trans%}Users{%endtrans%}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                {# i18n: Used as website menu title, only for admin, linking to page about instance configuration #}
                {%trans%}Config{%endtrans%}
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/">{{g.site.name}}</a>
            </li>
          {% endif %}
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/">{{g.site.name}}</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav" style="margin-left: auto;">
        {% if current_user.enabled %}
          <li class="nav-item">
              <a class="nav-link" href="/forms">
                {# i18n: Used as website menu title, linking to page about user's forms #}
                {%trans%}My forms{%endtrans%}
              </a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/user/{{ current_user.username }}">
            {# i18n: Used as website menu title, linking to page about user's settings #}
            {%trans%}Settings{%endtrans%}
            <i id="user_alert"
               class="fa fa-exclamation-circle"
               {% if not current_user.alerts %}
               style="display:none;"
               {% endif %}
               aria-label="{%trans%}You have an alert{%endtrans%}">
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            {# i18n: Used as website menu title, to log out #}
            {%trans%}Logout{%endtrans%}
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    {% else %}
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">{{g.site.name}}</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="margin-left: auto;">
        {% if not g.site.invitation_only %}
          <li class="nav-item">
            <a class="nav-link" href="/user/new">
              {# i18n: Used as website menu title before logging in, when open registration is enabled, linking to page to create new user #}
              {%trans%}Create an account{%endtrans%}
            </a>
          </li>
        {% endif %}
        <li class="nav-item" style="margin-right: 1em">
          <a class="nav-link" href="/user/login">
              {# i18n: Used as website menu title before logging in, linking to page to log in #}
            {%trans%}Login{%endtrans%}
          </a>
        </li>
      </ul>
    {% endif %}
    </div>
  </div>
</nav>
{% endif %}


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ category }} flash_message">
        {{ message | safe }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div id="main-content">
{% block content %}{% endblock %}
</div>

<p>&nbsp;</p>
<div id="footer" class="container-fluid">
  {% if config['ENABLE_RSS_FEED'] and navbar != False %}
  <div style="float:left">
    <a href="/feed/rss"
       style="color: #bbb"
       alt_text="RSS feed">
      <i class="fa fa-rss" aria-hidden="true"></i>
    </a>
  </div>
  {% endif %}
  <div style="float:right">
    AGPLv3 |
    {% if current_user.is_authenticated %}
      {% set user_lang = current_user['preferences']['language'] %}
      {% set docs_lang = g.site.get_liberaforms_docs_language(user_lang) %}
      <a href="https://docs.liberaforms.org/"
         target="_blank">
        {%trans%}User guide{%endtrans%}
      </a>
      |
    {% endif %}

    {% if g.language in ['en', 'es', 'eu', 'eo', 'ca'] %}
    {% set lang = g.language %}
    {% else %}
    {% set lang = "en" %}
    {% endif %}

    <a href="https://liberaforms.org/{{ lang }}">LiberaForms</a>
  </div>
</div>


{% if current_user.is_authenticated %}
<script>
  var csrftoken = "{{ csrf_token() }}";
</script>
{% endif %}

</body>
</html>
