{% extends "base.html" %}
{% block content %}

<!-- change_sitename_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}Change site name{%endtrans%}
      </div>

      <div class="title_2">
        {%trans%}New site name{%endtrans%}
        <span class='required'>●</span>
      </div>

      <form method="POST">
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}" />
        <p>
          <input type="text"
                 name="sitename"
                 class="form-control"
                 value="{{site.name }}"
                 required >
        </p>
        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Save{%endtrans%}">
          <a class="btn btn-primary"
             role="button"
             href="/admin">
            {%trans%}Cancel{%endtrans%}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('form').parsley()
  })
</script>

{% endblock %}
