{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% set consent=g.site.get_consent() %}
      {% with text=consent,
              title=_("GDPR"),
              sub_title=_("New users must agree to this text."),
              toggle_enabled_url="/site/toggle-data-consent",
              return_url="/admin#site_settings",
              default_markdown=g.site.get_default_consent().markdown,
              force_required=True %}
        {% include 'common/edit-consent.html' %}
      {% endwith %}

      <div class="title_2 delimited"
           style="margin-top:3em">
        Share this text with other users
      </div>
      {%trans%}Let users include this GDPR text in their forms.{%endtrans%}

      <div id="toggle_shared"
           class="btn-group btn-toggle"
           style="float:right">
        <button id="shared_true"
                class="btn btn-xs
                      {% if consent.shared %}
                      btn-primary
                      {% else %}
                      btn-outline-secondary
                      {% endif %}
                      ">
            {%trans%}True{%endtrans%}
        </button>
        <button id="shared_false"
                class="btn btn-xs
                      {% if not consent.shared %}
                      btn-primary
                      {% else %}
                      btn-outline-secondary
                      {% endif %}
                      ">
          {%trans%}False{%endtrans%}
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('toggle_shared')
          .addEventListener('click', function(evt){
    $.ajax({
      url : "{{ url_for('site_bp.toggle_share_data_consent') }}",
      type: "POST",
      dataType: "json",
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (data.shared == true) {
          $('#shared_true').addClass('btn-primary').removeClass('btn-outline-secondary');
          $('#shared_false').removeClass('btn-primary').addClass('btn-outline-secondary');
        }
        else if (data.shared == false) {
          $('#shared_true').removeClass('btn-primary').addClass('btn-outline-secondary');
          $('#shared_false').addClass('btn-primary').removeClass('btn-outline-secondary');
        }
      }
    });
  });
</script>

{% endblock %}
