{% extends "base.html" %}
{% block content %}

<!-- ldap_test_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="title_1 delimited">
          {%trans%}LDAP{%endtrans%}
      </div>
      <div class="title_2">
        {%trans%}Configuration{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>Server</td>
          <td>{{ config['LDAP_SERVER'] }}</td>
        </tr>
      </table>
      <div class="title_3">
        {%trans%}Authentification{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>Bind account</td>
          <td>
            {% if config['LDAP_ANONYMOUS_BIND'] %}
              <span class="hint">Anonymous bind</span>
            {% elif config['LDAP_BIND_ACCOUNT'] %}
              {{ config['LDAP_BIND_ACCOUNT'] }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Bind password</td>
          <td>
            {% if config['LDAP_ANONYMOUS_BIND'] %}
              <span class="hint">Anonymous bind</span>
            {% elif config['LDAP_BIND_PASSWORD'] %}
              ***********
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            User DN {% if config['LDAP_USER_DN_LIST']|length > 1 %}list{% endif %}
          </td>
          <td>
            {% for dn in config['LDAP_USER_DN_LIST'] %}
              {{ dn }}<br />
            {% endfor %}
          </td>
        </tr>
      </table>
      <div class="title_3">
        {%trans%}Authorization{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>Search base</td>
          <td>{{ config['LDAP_SEARCH_BASE_DN'] }}</td>
        </tr>
        <tr>
          <td>
            Filter
            <button class="btn btn-primary btn-xs"
                    onclick="js:show_filter_editor()">
               {%trans%}Edit{%endtrans%}
            </button>
          </td>
          <td>
            <span id="saved_filter">
              {{ g.site.get_ldap_filter() }}
            </span>
          </td>
        </tr>
        <tr id="ldap_filter_editor" style="display:none;">
          <td colspan="2">
            <button class="btn btn-primary btn-xs mt-3"
                    onclick="js:save_filter()">
              {%trans%}Save{%endtrans%}
            </button>
            <button class="btn btn-danger btn-xs mt-3"
                    onclick="js:reset_filter()">
              {# i18n: verb. This is a button #}
              {%trans%}Reset{%endtrans%}
            </button>
            <button class="btn btn-outline-secondary btn-xs mt-3"
                    onclick="js:$('#ldap_filter_editor').hide()">
              {%trans%}Cancel{%endtrans%}
            </button>
            <div class="mt-3">
              Use this filter to search for LiberaForms users in the DIT
              <span id="filter_error" class="formError"></span>
              <textarea id="ldap_filter_input"
                        class="form-control"
                        rows="3">
              </textarea>
            </div>
          </td>
        </tr>
      </table>
      <div class="title_2 delimited">
        {%trans%}Tests{%endtrans%}
      </div>
      <textarea id="test_result"
                rows="3"
                class="form-control"
                disabled >Test results are displayed here</textarea>

      <div class="mt-2">
        {%trans%}Test authentification{%endtrans%}
      </div>
      <div class="form-inline">
      	<div class="form-group mr-2">
          <input id="ldap_username"
                 class="form-control"
                 type="text"
                 placeholder="{%trans%}Username{%endtrans%}" />
      	</div>
      	<div class="form-group mr-2">
          <input id="ldap_password"
                class="form-control"
                type="password"
                placeholder="{%trans%}Password{%endtrans%}" />
      	</div>
      	<div class="form-group text-right">
          <button class="btn btn-primary"
                  onclick="js:bind(this)">
              Bind
          </button>
      	</div>
      </div>
      <div class="hint">
      {% if config['LDAP_BIND_ACCOUNT'] %}
        Leave empty to test the bind account
      {% else %}
        Leave empty to test anonymous bind
      {% endif %}
      </div>
      <div class="mt-2">
        {%trans%}Test authorization{%endtrans%}
      </div>
      <div class="form-inline">
      	<div class="form-group mr-2">
          <input id="search_text"
                 class="form-control"
                 type="text"
                 name="uid"
                 autocomplete="on"
                 placeholder="%uid" />
      	</div>
      	<div class="form-group text-right">
          <button class="btn btn-primary"
                  onclick="js:search(this)">
              {%trans%}Filter{%endtrans%}
          </button>
      	</div>
    </div>
  </div>
</div>


<script>
function show_filter_editor() {
  $('#filter_error').html("")
  $('#ldap_filter_input').val($('#saved_filter').text().trim())
  $('#ldap_filter_editor').show()
}
function save_filter() {
  var filter = $('#ldap_filter_input').val().trim()
  $.ajax({
    url : "{{ url_for('site_bp.ldap_edit_filter') }}",
    type: "POST",
    dataType: "json",
    data: {
      'filter': filter
    },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.error !== undefined) {
        $('#filter_error').html(data.error)
      } else {
        $('#ldap_filter_editor').hide()
        $('#saved_filter').text(data.filter)
      }
    }
  });
}
function reset_filter() {
  $.ajax({
    url : "{{ url_for('site_bp.ldap_reset_filter') }}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.error !== undefined) {
        $('#filter_error').html(data.error)
      } else {
        $('#ldap_filter_editor').hide()
        $('#saved_filter').text(data.filter)
      }
    }
  });
}
function bind(button_el) {
  $('#test_result').val("")
  $.ajax({
    url : "{{ url_for('site_bp.ldap_test_bind') }}",
    type: "POST",
    dataType: "json",
    data: {
      'username': $('#ldap_username').val(),
      'password': $('#ldap_password').val()
    },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      console.log(data.result)
      $('#test_result').val(parse_results(data.result))
    }
  });
}
function search(button_el) {
  $('#test_result').val("")
  $.ajax({
    url : "{{ url_for('site_bp.ldap_test_search') }}",
    type: "POST",
    dataType: "json",
    data: {
      'username': $('#ldap_username').val(),
      'password': $('#ldap_password').val(),
      'param': $('#search_text').val()
    },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      $('#test_result').val(parse_results(data.result))
    }
  });
}
function parse_results(data) {
  var result=""
  for (let key in data){
    if (data[key].constructor == Object) {
      for (let obj_key in data[key]){
        result = result+obj_key+": "+data[key][obj_key]+'\n'
      }
    }else{
      result = result+key+": "+data[key]+'\n'
    }
  }
  return result.replace(/\n*$/, "")
}
</script>

{% endblock %}
