{% extends "base.html" %}
{% block content %}

<!-- set_primary_color_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">

      <div class="title_1 delimited">
        {%trans%}Primary color{%endtrans%}
      </div>

      <div class="menu-color-options">
        <!-- red -->
        <span style="background-color:#981717">L</span>
        <span style="background-color:#a81a1a">i</span>
        <span style="background-color:#b71c1c">b</span>
        <span style="background-color:#c92121">e</span>
        <!-- brown -->
        <span style="background-color:#895100">r</span>
        <span style="background-color:#a05e01">a</span>
        <span style="background-color:#b66b00">F</span>
        <span style="background-color:#cb7801">o</span>
        <!-- purple -->
        <span style="background-color:#791d48">r</span>
        <span style="background-color:#872053">m</span>
        <span style="background-color:#96245c">s</span>
        <span style="background-color:#A72766">L</span>
        <!-- purple -->
        <span style="background-color:#5d3445">i</span>
        <span style="background-color:#6c3d51">b</span>
        <span style="background-color:#884d65">e</span>
        <span style="background-color:#9f5976">r</span>
        <!-- blue -->
        <span style="background-color:#00538C">a</span>
        <span style="background-color:#005A9C">F</span>
        <span style="background-color:#23679B">o</span>
        <span style="background-color:#2774AE">r</span>
        <!-- blue -->
        <span style="background-color:#235460">m</span>
        <span style="background-color:#285f6d">s</span>
        <span style="background-color:#2d6a7a">L</span>
        <span style="background-color:#327687">i</span>
        <!-- green -->
        <span style="background-color:#076b18">b</span>
        <span style="background-color:#08751a">e</span>
        <span style="background-color:#09821d">r</span>
        <span style="background-color:#098e20">a</span>
        <!-- green -->
        <span style="background-color:#216045">F</span>
        <span style="background-color:#276d4f">o</span>
        <span style="background-color:#2c7a58">r</span>
        <span style="background-color:#2f845f">m</span>
      </div>

      <p>&nbsp;</p>

      <form method="POST">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.hex_color.label }}
          <span class='required'>●</span>
          <br />
          {{ wtform.hex_color(class_="form-control") }}
          {% for error in wtform.hex_color.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <div class="form-actions">
          <input class="btn btn-success"
                 type="submit"
                 value="{%trans%}Save{%endtrans%}">
          <a class="btn btn-primary"
             role="button"
             href="/admin">{%trans%}Cancel{%endtrans%}</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
jQuery("span").click(function(){
    var color=$(this).css('backgroundColor')
    $(".navbar").css('backgroundColor', color)
    $("#hex_color").val(color)
});
// https://stackoverflow.com/questions/6177454/can-i-force-jquery-cssbackgroundcolor-returns-on-hexadecimal-format
$.cssHooks.backgroundColor = {
    get: function(elem) {
        if (elem.currentStyle)
            var bg = elem.currentStyle["backgroundColor"];
        else if (window.getComputedStyle)
            var bg = document.defaultView.getComputedStyle(elem, null)
                                         .getPropertyValue("background-color");
        if (bg.search("rgb") == -1)
            return bg;
        else {
            bg = bg.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(bg[1]) + hex(bg[2]) + hex(bg[3]);
        }
    }
}
$(function () {
  $('form').parsley().on('form:validate', function() {
    $('span[class=formError]').remove()
  })
})
</script>

{% endblock %}
