{% extends "base.html" %}
{% block content %}

<!-- site_stats_page -->

<script src="/static/chartjs/3.6.2/chart.min.js"></script>

<div class="container">
<div class="row">
  <div class="col">
    <div class="title_1 delimited">
        {%trans%}Site statistics{%endtrans%}
    </div>
    <canvas id="site-usage-chart" height="100"></canvas>
  </div>
</div>

<script>
{% set fg_colors = [    "rgba(233, 132, 0, 1)", "rgba(182, 0, 181, 1)", "rgba(255, 228, 0, 1)",
                        "rgba(255, 0, 0, 1)", "rgba(0, 123 ,255, 1)", "rgba(0, 190, 0, 1)"] %}
{% set bg_colors = [    "rgba(233, 132, 0, 0.7)", "rgba(182, 0, 181, 0.7)", "rgba(255, 228, 0, 0.7)",
                        "rgba(255, 0, 0, 0.7)", "rgba(0, 123 ,255, 0.7)", "rgba(0, 190, 0, 0.7)"] %}


var ctx = document.getElementById('site-usage-chart');
var time_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Answers')}}"],
                data: {{ stats['answers']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(182, 0, 181, 0.7)",
            },
            {
                label: ["{{ _('Total answers')}}"],
                data: {{ stats['total_answers']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 190, 0, 0.7)",
            },
            {
                label: ["{{ _('New forms')}}"],
                data: {{ stats['forms']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            },
            {
                label: ["{{ _('Total forms')}}"],
                data: {{ stats['total_forms']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                hidden: true,
                backgroundColor: "rgba(255, 228, 0, 0.7)",
            },
            {
                label: ["{{ _('New users')}}"],
                data: {{ stats['users']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 123 ,255, 0.7)",
            },
            {
                label: ["{{ _('Total users')}}"],
                data: {{ stats['total_users']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(255, 0, 0, 0.7)",
            },
        ],
    },
    options: {
      animation: true,
      responsive: true,
      maintainAspectRatio: true,
      scales: {
          y: {
            beginAtZero: true,
            ticks: { precision: 0 }
          }
      },
      plugins: {
        legend: {
          onHover: function (e) {
            e.native.target.style.cursor = 'pointer';
          },
          onLeave: function (e) {
            e.native.target.style.cursor = 'default';
          },
          labels: {
            boxWidth: 10,
            usePointStyle: true,
            pointStyle: "rectRounded",
          }
        }
      }
    }
});

</script>

{% endblock %}
