{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% with text=g.site.terms_and_conditions,
              title=_("Terms and conditions"),
              sub_title=_("New users must agree to these terms and conditions"),
              toggle_enabled_url="/site/toggle-terms-and-conditions",
              return_url="/admin#site_settings",
              force_required=True %}
        {% include 'common/edit-consent.html' %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
