{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<!-- form_has_expired_page -->

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 marked-up">
        {{ form.get_expired_text_html()|safe }}
    </div>
</div>
</div>

{% endblock %}
