{% extends "base.html" %}
{% block content %}

<!-- admin-panel_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="title_1 delimited">
        {# i18n: Main title displayed on site configuration page (/admin) #}
        {%trans%}Site configuration{%endtrans%}
      </div>

      <div id="look_and_feel" class="title_2">
        {# i18n: Subtitle displayed on instance configuration page (/admin) #}
        {%trans%}Look and feel{%endtrans%}
      </div>

      <table class="table table-sm">
        <tr>
          {# i18n: Name for the website/instance #}
          <td>{%trans%}Site name{%endtrans%}</td>
          <td>
          {{ site.name }}
          </td>
          <td class="text-right">
            <a class="btn-primary btn btn-xs"
               role="button"
               href="/site/change-sitename">
               {# i18n: Button to change some option #}
                {%trans%}Change{%endtrans%}
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {# i18n: Option in admin settings about changing instance welcoming text #}
            {%trans%}Front page text{%endtrans%}
          </td>
          <td class="text-right">
            <a class="btn-primary btn btn-xs"
               role="button"
               href="/?edit=true">
                {%trans%}Change{%endtrans%}
            </a>
          </td>
        </tr>
        <tr>
          {# i18n: Icon for the website #}
          <td>
            {%trans%}Logo{%endtrans%}
          </td>
          <td>
            <img src="/favicon.ico" width=24 height=24 />
          </td>
          <td class="text-right">
            <input class="btn-primary btn btn-xs"
                   type="button"
                   value="{%trans%}Change{%endtrans%}"
                   onClick="location.href='/site/change-icon'">
          </td>
        </tr>
        <tr>
          {# i18n: Website's primary color #}
          <td>{%trans%}Primary color{%endtrans%}</td>
          <td>{{g.site.primary_color}}</td>
          <td class="text-right">
            <a class="btn btn-primary btn-xs"
               role="button" href="/site/primary-color">
                {%trans%}Change{%endtrans%}
            </a>
          </td>
        </tr>
      </table>

      <p>&nbsp;</p>
      <div id="site_settings" class="title_2">
        {# i18n: Subtitle displayed on instance configuration page (/admin) #}
        {%trans%}User registration{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          {# i18n: Whether to enable open registration, or remain invitation only #}
          <td colspan="2">
            {%trans%}Invitation only{%endtrans%}
          </td>
          <td class="text-right">
            <div id="toggle_invitation_only" class="btn-group btn-toggle">
              <button id="invitation_only_true"
                      class="btn btn-xs
                            {% if site.invitation_only %}
                            btn-primary
                            {% else %}
                            btn-outline-secondary
                            {% endif %}
                            ">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="invitation_only_false"
                      class="btn btn-xs
                            {% if not site.invitation_only %}
                            btn-primary
                            {% else %}
                            btn-outline-secondary
                            {% endif %}
                            ">
                {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            {%trans%}Terms and conditions{%endtrans%}
          </td>
          <td>
            {% if g.site.terms_and_conditions.enabled %}
            <span class="badge badge-success">{%trans%}Enabled{%endtrans%}</span>
            {% else %}
            <span class="badge badge-secondary">{%trans%}Disabled{%endtrans%}</span>
            {% endif %}
          </td>
          <td class="text-right">

            <a class="btn btn-primary btn-xs"
               role="button"
               href="/site/terms-and-conditions">
              {# i18n: Button to edit some option #}
              {%trans%}Edit{%endtrans%}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            {%trans%}GDPR{%endtrans%}
          </td>
          <td>
            {% set dpl_consent = g.site.get_consent_for_rendering() %}
            {% if dpl_consent.enabled %}
            <span class="badge badge-success">{%trans%}Enabled{%endtrans%}</span>
            {% else %}
            <span class="badge badge-secondary">{%trans%}Disabled{%endtrans%}</span>
            {% endif %}
          </td>
          <td class="text-right">
            <a class="btn btn-primary btn-xs"
               role="button"
               href="/site/data-consent">
              {# i18n: Button to edit some option #}
              {%trans%}Edit{%endtrans%}
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {%trans%}New user form{%endtrans%}
          </td>
          <td class="text-right">
            {% set new_user_url = config['BASE_URL']+url_for('site_bp.preview_new_user_form') %}
            <a class="btn btn-primary btn-xs"
               role="button"
               href="{{ new_user_url }}">
              {%trans%}Preview{%endtrans%}
            </a>
          </td>
        </tr>
      </table>

      <p>&nbsp;</p>
      <div id="new_user_defaults" class="title_2">
        {# i18n: Title in Admin panel refering to configurations concerning new users #}
        {%trans%}New user default configuration{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          {# i18n: Default language for instance, setting on Instance configuration #}
          <td>{%trans%}Default language{%endtrans%}</td>
          <td>{{ config['LANGUAGES'][g.site.language][0] }}</td>
          <td class="text-right">
            <a class="btn btn-primary btn-xs"
               role="button"
               href="/site/change-default-language">
                {%trans%}Change{%endtrans%}
            </a>
          </td>
        </tr>
        {% if config['ENABLE_UPLOADS'] %}
        <tr>
          {# i18n: Whether to enable new users attaching documents into forms #}
          <td>{%trans%}Enable form attachments{%endtrans%}</td>
          <td></td>
          <td class="text-right">
            <div id="toggle_uploads_enabled" class="btn-group btn-toggle">
            <button id="uploads_enabled_true"
                    class="btn btn-xs
                          {% if site.newuser_enableuploads %}
                          btn-primary
                          {% else %}
                          btn-outline-secondary
                          {% endif %}">
                {%trans%}True{%endtrans%}
            </button>
            <button id="uploads_enabled_false"
                    class="btn btn-xs
                          {% if not site.newuser_enableuploads %}
                          btn-primary
                          {% else %}
                          btn-outline-secondary
                          {% endif %}">
                {%trans%}False{%endtrans%}
            </button>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {%trans%}Upload files limit{%endtrans%}
          </td>
          <td class="text-right">
            {{ StorageDomain.default_user_uploads_limit(human_readable=True) }}
          </td>
        </tr>
        {% endif %}
        <tr>
          <td colspan="2">
            {%trans%}Default timezone{%endtrans%}
          </td>
          <td class="text-right">{{config['DEFAULT_TIMEZONE']}}</td>
        </tr>
      </table>

      <p>&nbsp;</p>
      <div id="super_admin_options" class="title_2">
        {# i18n: Subtitle displayed on instance configuration page (/admin) #}
        {%trans%}Site settings{%endtrans%}
      </div>
      <table class="table table-sm">
        {% if config['ENABLE_UPLOADS'] %}
        <tr>
          <td>
            {# i18n: Which type of attachments are allowed #}
            {%trans%}Attachment types{%endtrans%}
          </td>
          <td>
            {{ ', '.join(g.site.mimetypes.extensions) }}
          </td>
          <td class="text-right">
            <input  class="btn-primary btn btn-xs"
                    type="button" value="{%trans%}Edit{%endtrans%}"
                    onClick="location.href='/site/edit-mimetypes'">
          </td>
        </tr>
        {% endif %}
        <tr>
          {# i18n: Settings about email server used by website to send email messages #}
          <td>{%trans%}Email server{%endtrans%}</td>
          <td>{{g.site.smtp_config["host"]}}</td>
          <td class="text-right">
            {# i18n: Button to configure some option #}
            <input class="btn-primary btn btn-xs"
                    type="button" value="{%trans%}Configure{%endtrans%}"
                    onClick="location.href='/site/email/config'" />
          </td>
        </tr>
        {% if config['ENABLE_LDAP'] %}
        <tr>
          <td>LDAP</td>
          <td>{{ config['LDAP_SERVER'] }}</td>
          <td class="text-right">
            <a href="{{ url_for('site_bp.ldap_test') }}"
               role="button"
               class="btn-primary btn btn-xs">
              {# i18n: verb. This is a button #}
              {%trans%}Test{%endtrans%}
            </a>
          </td>
        </tr>
        {% endif %}
      </table>

      {% if config['ENABLE_UPLOADS'] %}
      {% set total_media_bytes = StorageDomain.total_media_usage() %}
      {% set total_attachments_bytes = StorageDomain.total_attachments_usage() %}
      {% set total_uploads = total_media_bytes + total_attachments_bytes %}
      {% set disk_limit = StorageDomain.total_disk_limit() %}
      <p>&nbsp;</p>
      <div class="title_2">
        {%trans%}Disk usage{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>{%trans%}Media{%endtrans%}</td>
          <td class="text-right">
            {{ StorageDomain.human_readable_bytes(total_media_bytes) }}
          </td>
        </tr>
        <tr>
          <td>{%trans%}Attachments{%endtrans%}</td>
          <td class="text-right">
            {{ StorageDomain.human_readable_bytes(total_attachments_bytes) }}
          </td>
        </tr>
        <tr>
          <td>
            {%trans%}Total disk usage{%endtrans%}
            <span class="badge
                        {% if total_uploads < disk_limit %}
                        btn-secondary
                        {% else %}
                        btn-danger
                        {% endif %}"
                  style="font-size: 0.9em">
              {% if total_uploads > 0 %}
              {{'%0.2f' % (( total_uploads * 100) / disk_limit )|float}} %
              {% else %}
              0 %
              {% endif %}
            </span>
          </td>
          <td class="text-right">
            {% set total_uploads = StorageDomain.human_readable_bytes(total_uploads)%}
            {% set disk_limit = StorageDomain.human_readable_bytes(disk_limit)%}
            {# i18n: example: 3MB of 10MB. Parameters must never be translated or changed #}
            {%trans%}{{total_uploads}} of {{disk_limit}}{%endtrans%}
          </td>
        </tr>
      </table>
      {% endif %}

      <p>&nbsp;</p>
      <div id="new_form_msg" class="title_2">
        {# i18n: Subtitle displayed on instance configuration page (/admin) #}
        {%trans%}New form message{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>{%trans%}Display this text to your users when they create a new form{%endtrans%}</td>
          <td class="text-right">
            <a class="btn-primary btn btn-xs"
               href="/site/edit-new-form-message"
               role="button">
              {%trans%}Edit{%endtrans%}
            </a>
          </td>
        </tr>
        {% if g.site.new_form_msg %}
        <tr>
          <td colspan="2">
            {{ g.site.get_new_form_msg() | safe }}
            <hr style="margin-bottom: 0"/>
          </td>
        </tr>
        {% endif %}
      </table>

      <p>&nbsp;</p>
      <div id="contact_info" class="title_2">
        {# i18n: Subtitle displayed on instance configuration page (/admin) #}
        {%trans%}Contact information{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>{%trans%}Helpful text only visible to your users{%endtrans%}</td>
          <td class="text-right">
            <a class="btn-primary btn btn-xs"
               href="/site/edit-contact-info"
               role="button">
              {%trans%}Edit{%endtrans%}
            </a>
          </td>
        </tr>
        {% if g.site.contact_info %}
        <tr>
          <td colspan="2">
            {{ g.site.get_contact_info() | safe }}
            <hr style="margin-bottom: 0"/>
          </td>
        </tr>
        {% endif %}
      </table>

      <p>&nbsp;</p>
      <div class="title_2">
        {# i18n: Title in Admin panel displaying info about installation #}
        {%trans%}Installation{%endtrans%}
      </div>
      <table class="table table-sm">
        <tr>
          <td>{%trans%}Created{%endtrans%}</td>
          <td class="text-right">
            {{site.created.astimezone(g.timezone).strftime("%Y-%m-%d")}}
          </td>
        </tr>
        <tr>
          <td>{%trans%}Version{%endtrans%}</td>
          <td class="text-right">
            {{app_version}}
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
document.getElementById('toggle_invitation_only')
        .addEventListener('click', function(evt){
    $.ajax({
        url : "/site/toggle-invitation-only",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.invite == true) {
                $('#invitation_only_true').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
                $('#invitation_only_false').removeClass('btn-primary')
                                           .addClass('btn-outline-secondary');
            }
            else if (data.invite == false) {
                $('#invitation_only_true').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
                $('#invitation_only_false').addClass('btn-primary')
                                           .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% if config['ENABLE_UPLOADS'] %}
document.getElementById('toggle_uploads_enabled')
        .addEventListener('click', function(evt){
    $.ajax({
        url : "/site/toggle-newuser-uploads-default",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.uploads == true) {
                $('#uploads_enabled_true').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
                $('#uploads_enabled_false').removeClass('btn-primary')
                                           .addClass('btn-outline-secondary');
            }
            else if (data.uploads == false) {
                $('#uploads_enabled_true').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
                $('#uploads_enabled_false').addClass('btn-primary')
                                           .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% endif %}
</script>

{% endblock %}
