{% extends "base.html" %}
{% block content %}

<!-- admin_delete_user_page -->

{% set form_count = user.authored_forms|length %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-5">
      {# i18n: Title and button to delete user #}
      <div class="title_1 delimited">
        {%trans%}Delete user{%endtrans%}
      </div>
      <p>
      {%trans%}You are going to delete a user{%endtrans%}
      {% if form_count %}
      {# i18n: consecution of the sentence "You are going to delete a user", if that user has any form #}
          {%trans%}and their forms{%endtrans%}
      {% endif %}
      </p>

      {% if form_count %}
        <div class="title_2">
          {%trans%}Forms{%endtrans%}
        </div>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              {# i18n: Table column title, indicating name of a user or a form #}
              <th>{%trans%}Name{%endtrans%}</th>
              <th>{%trans%}Users{%endtrans%}</th>
              {# i18n: Table column title, indicating answers received for a form #}
              <th>{%trans%}Answers{%endtrans%}</th>
            </tr>
          </thead>
          {% for form in user.authored_forms %}
          <tr>
            <td><a href="/form/{{form.id}}">{{form.slug}}</a></td>
            <td>{{form.users.count()}}</td>
            <td>{{form.answers.count()}}</td>
          </tr>
          {% endfor %}
        </table>
      {% endif %}
      <p>
        {%trans%}Write the name of the user below{%endtrans%}.
      </p>
      <div class="title_3">
        {{user.username}}
      </div>

      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <p>
          <input type="text"
                 name="username"
                 class="form-control"
                 autocomplete="off"
                 required >
        </p>

        <div class="form-actions">
        {% if form_count %}
          <input class="btn-danger btn"
                 type="submit"
                 value="{%trans%}Delete user and forms{%endtrans%}">
        {% else %}
          <input class="btn-danger btn"
                 type="submit"
                 value="{%trans%}Delete user{%endtrans%}">
        {% endif %}
          <input class="btn-primary btn"
                 type="button"
                 value="{%trans%}Cancel{%endtrans%}"
                 onClick="location.href='/admin/user/{{user.id}}'">
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
