{% extends "base.html" %}
{% block content %}

<!-- inspect_user_page -->

<script src="/static/chartjs/3.6.2/chart.min.js"></script>

{% set stats = chart_data %}
{% set forms = user.get_forms() %}

<div class="container">
  <div class="row">
    <div class="col-md-5 mb-4">
      <div class="title_1 delimited">
          {%trans%}User details{%endtrans%}
      </div>
      <table class="table table-sm w-100 d-block d-table">
        <tbody>
        <tr>
          <td>{%trans%}Username{%endtrans%}</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>{%trans%}Role{%endtrans%}</td>
          <td>
            <div id="set_roles" class="btn-group btn-toggle">
              <button class="btn btn-xs
                             {% if user.role == 'guest' %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}"
                      role_type="guest">
                {%trans%}Guest{%endtrans%}
              </button>
              <button id="editor_role"
                      class="btn btn-xs
                             {% if user.role == 'editor' %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}"
                      role_type="editor">
                {%trans%}Editor{%endtrans%}
              </button>
              <button id="admin_role"
                      class="btn btn-xs
                             {% if user.role == 'admin' %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}"
                      role_type="admin">
                  {%trans%}Admin{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>{%trans%}Email{%endtrans%}</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
           <td>{%trans%}Created{%endtrans%}</td>
           <td>
             {{ user.get_created_date() }}
           </td>
        </tr>
        {% if 1 == 0 %}
        <tr>
          {# i18n: Language selected by user #}
          <td>{%trans%}Language{%endtrans%}</td>
          <td>{{ config['LANGUAGES'][user.language][0] }}</td>
        </tr>
        {% endif %}
        <tr>
          {# i18n: Whether the email of user was validated #}
          <td>{%trans%}Validated email{%endtrans%}</td>
          <td>
            {% if user.validated_email %}
            <span class="badge badge-success">
              {%trans%}True{%endtrans%}
            </span>
            {% else %}
            <span class="badge badge-warning">
              {%trans%}False{%endtrans%}
            </span>
            {% endif %}
          </td>
        </tr>
        {% if config['ENABLE_UPLOADS'] %}
        {% set can_enable_uploads = user.can_enable_uploads() %}
        <tr>
          {# i18n: Whether user is able to upload media and solicit attachments #}
          <td>{%trans%}Uploads enabled{%endtrans%}</td>
          <td>
            <div id="toggle_uploads_enabled"
                 class="btn-group btn-toggle">
              <button id="uploads_enabled_true"
                      class="btn btn-xs
                             {% if user.can_upload() %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}"
                      {% if not can_enable_uploads %}
                      disabled
                      {% endif %}>
                  {%trans%}True{%endtrans%}
              </button>
              <button id="uploads_enabled_false"
                      class="btn btn-xs
                             {% if not user.can_upload() %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}"
                      {% if not can_enable_uploads %}
                      disabled
                      {% endif %}>
                {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        <tr>
          {# i18n: Maximum permited total of uploads #}
          <td>{%trans%}Uploads limit{%endtrans%}</td>
          <td>
            <a class="btn btn-xs btn-primary"
               role="button"
               href="/admin/user/{{user.id}}/set-upload-limit">
              {%trans%}Edit{%endtrans%}
            </a>
            {{ human_readable_bytes(user.uploads_limit) }}
          </td>
        </tr>
        {% endif %}
        {% set invited_by = user.invited_by() %}
        {% if invited_by %}
        <tr>
          <td>{%trans%}Invited by{%endtrans%}</td>
          <td>
            <a href="/admin/user/{{invited_by.id}}">
            {{ invited_by.username }}
          </td>
        </tr>
        {% endif %}
        {% if config['ENABLE_LDAP'] %}
        <tr>
          <td>{%trans%}LDAP user{%endtrans%}</td>
          <td>
            {% if user.is_ldap_user() %}
            <span class="badge badge-success">
              {%trans%}True{%endtrans%}
            </span>
            {% else %}
            <span class="badge badge-secondary">
              {%trans%}False{%endtrans%}
            </span>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        <tr>
          {# i18n: Whether user is blocked by admin #}
          <td>{%trans%}Blocked by admin{%endtrans%}</td>
          <td>
            <div id="toggle_blocked"
                 class="btn-group btn-toggle">
              <button id="blocked_true"
                      class="btn
                             btn-xs
                             {% if user.blocked %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="blocked_false"
                      class="btn
                             btn-xs
                             {% if not user.blocked %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}">
                  {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <input class="btn-warning btn btn-sm"
             type="button"
             {% if user.id == current_user.id %}
             disabled
             {% endif %}
             {% if forms.count() %}
             value="{%trans%}Delete user and authored forms{%endtrans%}"
             {% else %}
             value="{%trans%}Delete user{%endtrans%}"
             {% endif %}
             onClick="location.href='/admin/user/{{user.id}}/delete'">
    </div>
    <div class="col-md-7">

      <div class="title_1 delimited">
          {%trans%}Statistics{%endtrans%}
      </div>

      <canvas id="form_usage_chart" height="130"></canvas>

      {% if config['ENABLE_UPLOADS'] %}

      {% set media_usage = user.media_usage() %}
      {% set attachments_usage = user.attachments_usage() %}
      {% set total_uploads_usage = media_usage + attachments_usage %}
      <div class="title_3 mt-2">
          {%trans%}Disk usage{%endtrans%}
          {% if total_uploads_usage > 0 %}
          {{'%0.2f' % (( total_uploads_usage * 100) / user.uploads_limit )|float}} %
          {% else %}
          0%
          {% endif %}
      </div>
      <div id="user_uploads_usage"
           class="">
        <span class="badge mb-2
                    {% if total_uploads_usage > user.uploads_limit %}
                    btn-danger
                    {% else %}
                    btn-success
                    {% endif %}"
              style="font-size: 1em;">
          {# i18n: shows the disk storage used by a user: "Total: 1.71 KB" #}
          {{ _('Total') }}: {{ human_readable_bytes(total_uploads_usage) }}
        </span>
        <span class="badge btn-secondary mb-2"
              style="font-size: 1em;">
          {{ _('Media') }}: {{ human_readable_bytes(media_usage) }}
        </span>
        <span class="badge btn-secondary mb-2"
              style="font-size: 1em;">
        {{ _('Attachments') }}: {{ human_readable_bytes(attachments_usage) }}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="title_1" style="margin:0.25em 0 0 0">
          {%trans%}Forms{%endtrans%}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
      <div vue-component="data-display"
           data-endpoint="/data-display/admin/user/{{user.id}}/forms"
           data-language="{{ current_user.language }}"
           data-csrf_token="{{ csrf_token() }}">
      </div>
      <div vue-component="items-renderer"></div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>
<script src="/static/data-display/items-renderer.js"></script>

<script>
var csrftoken = "{{ csrf_token() }}";
document.getElementById('toggle_blocked').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/user/{{user.id}}/toggle-blocked",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.blocked == true) {
                $('#blocked_true').addClass('btn-primary')
                                  .removeClass('btn-outline-secondary');
                $('#blocked_false').removeClass('btn-primary')
                                   .addClass('btn-outline-secondary');
            }
            else if (data.blocked == false) {
                $('#blocked_true').removeClass('btn-primary')
                                  .addClass('btn-outline-secondary');
                $('#blocked_false').addClass('btn-primary')
                                   .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% if config['ENABLE_UPLOADS'] %}
document.getElementById('toggle_uploads_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/user/{{user.id}}/toggle-uploads-enabled",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.uploads_enabled == true) {
                $('#uploads_enabled_true').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
                $('#uploads_enabled_false').removeClass('btn-primary')
                                           .addClass('btn-outline-secondary');
            }
            else if (data.uploads_enabled == false) {
                $('#uploads_enabled_true').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
                $('#uploads_enabled_false').addClass('btn-primary')
                                           .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% endif %}
document.getElementById('set_roles').addEventListener('click', function(evt){
    var role = $(evt.target).attr('role_type')
    $.ajax({
        url : "/admin/user/{{user.id}}/set-role/"+role,
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
          if (data.role !== undefined) {
            $('#set_roles').find('button').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary')
            $('button[role_type="'+data.role+'"]').removeClass('btn-outline-secondary')
                                                  .addClass('btn-primary')
          }
        }
    });
});
var form_usage_chart = document.getElementById('form_usage_chart');
var time_chart = new Chart(form_usage_chart, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Answers')}}"],
                data: {{ stats['answers']|tojson }},
                backgroundColor: "rgba(182, 0, 181, 0.7)",
            },
            {
                label: ["{{ _('Total answers')}}"],
                data: {{ stats['total_answers']|tojson }},
                backgroundColor: "rgba(0, 190, 0, 0.7)",
            },
            {
                label: ["{{ _('New forms')}}"],
                data: {{ stats['forms']|tojson }},
                hidden: true,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            },
            {
                label: ["{{ _('Total forms')}}"],
                data: {{ stats['total_forms']|tojson }},
                hidden: true,
                backgroundColor: "rgba(255, 228, 0, 0.7)",
            },
        ],
    },
    options: {
      animation: false,
      responsive: true,
      maintainAspectRatio: true,
      scales: {
          y: {
            beginAtZero: true,
            ticks: { precision: 0 }
          }
      },
      plugins: {
        legend: {
          onHover: function (e) {
            e.native.target.style.cursor = 'pointer';
          },
          onLeave: function (e) {
            e.native.target.style.cursor = 'default';
          },
          labels: {
            boxWidth: 10,
            usePointStyle: true,
            pointStyle: "rectRounded",
          }
        }
      }
    },
});
</script>

{% endblock %}
