{% extends "base.html" %}
{% block content %}

<!-- list_users_page -->

<div class="container">

  <nav class="navbar navbar-expand-sm"
       style="padding:0;">

    <span class="navbar-brand navbar-text"
          style="font-size: 1.5rem">
      {%trans%}Users{%endtrans%}
    </span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#otherFormOptions"
            aria-controls="otherFormOptions"
            aria-expanded="false"
            aria-label="Toggle other options">
      <i class="fa fa-align-justify" style="color: gray;" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="otherFormOptions">
      <ul class="navbar-nav ml-auto">
        {% set total_invites = invites.count() %}
        {% if total_invites == 0 %}
        <li class="nav-item pb-2">
          <a class="btn btn-primary btn-sm"
             role="button"
             href="/admin/invites/new">
            {%trans%}Invite a new user{%endtrans%}
            <span class="badge badge-light">{{ total_invites }}</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item pb-2">
          <a class="btn btn-primary btn-sm"
             role="button"
             href="/admin/invites">
            {%trans%}Invitations{%endtrans%}
            <span class="badge badge-light">{{ total_invites }}</span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item pb-2">
          <a class="btn btn-primary btn-sm"
             role="button"
             href="/admin/users/csv">
            {# i18n: Button to download document format #}
            {%trans%}Download CSV{%endtrans%}
            <i class="fa fa-download" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item pb-2">
          <a class="btn btn-primary btn-sm"
             role="button"
             href="/site/stats">
            {%trans%}Statistics{%endtrans%}
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col">
      <hr />
      <div vue-component="data-display"
           data-endpoint="/data-display/admin/users"
           data-language="{{ current_user.language }}"
           data-csrf_token="{{ csrf_token() }}">
      </div>
      <div vue-component="items-renderer"></div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>
<script src="/static/data-display/items-renderer.js"></script>

{% endblock %}
