{% extends "base.html" %}
{% block content %}

<!-- list_invites_page -->

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row ">
          <div class="col title_1">
            {# i18n: Title on /admin/invites page #}
              {%trans%}Invitations{%endtrans%}
          </div>
          <div class="col-auto" style="padding-top: 0.25em">
            {# i18n: Button to invite new user #}
              <a class="btn btn-sm btn-success"
                 role="button"
                 href="/admin/invites/new">
                {%trans%}Invite a new user{%endtrans%}
              </a>
          </div>
      </div>
      {% include 'common/list-invites.html' %}
    </div>
  </div>
</div>


{% endblock %}
