{% extends "base.html" %}
{% block content %}

<!-- change_language_page -->

<div class="container">
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-5">

        <div class="title_1 delimited">{%trans%}Change language{%endtrans%}</div>

        {% if site_default %}
            <div class="title_2">
            {{trans}}Default language for new users{{endtrans}}
            </div>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div>
            {% for key in config['LANGUAGES'] %}
            <div class="custom-control custom-radio">
                <input  type="radio"
                        id="customRadio{{loop.index}}"
                        class="custom-control-input"
                        name="language" value="{{ key }}"
                        {% if key == current_language %}checked{% endif %}
                        >
                <label  class="custom-control-label"
                        for="customRadio{{loop.index}}">
                        {{ config['LANGUAGES'][key][0] }}
                </label>
            </div>
            {% endfor %}
            </div>

            <div class="form-actions">
            <input class="btn-success btn" type="submit" value="{%trans%}Save{%endtrans%}">
            {% if go_back_to_admin_panel %}
            <a class="btn btn-primary" role="button" href="/admin">{%trans%}Cancel{%endtrans%}</a>
            {% else %}
            <a class="btn btn-primary" role="button" href="/user/{{current_user.username}}">{%trans%}Cancel{%endtrans%}</a>
            {% endif %}
            </div>
        </form>

    </div>

</div>
</div>


<script>
jQuery("label").click(function(){
    $(this).prev('input').prop("checked", true);
});
</script>

{% endblock %}
