

<table id="invites_table" class="table table-sm">
  <thead>
    <tr>
      <th>{%trans%}Created{%endtrans%}</th>
      <th>{%trans%}Email{%endtrans%}</th>
      {% if g.is_admin and not display_only_grants %}
      <th>{%trans%}Invited by{%endtrans%}</th>
      <th>{%trans%}Role{%endtrans%}</th>
      {% endif %}
      <th></th>
    </tr>
  </thead>
  {% for invite in invites %}
  <tr>
    <td nowrap="true">
      <i class="show-message fa fa-chevron-down link"
         style="margin-right:0.5em;"
         aria-label="{%trans%}Show invitation message{%endtrans%}">
      </i>
      {{ invite.created }}
    </td>
    <td>{{ invite.email }}</td>
    {% if g.is_admin and not display_only_grants %}
    <td>
      {{ invite.invited_by | safe }}
    </td>
    <td>{{ invite.role }}</td>
    {% endif %}
    <td class="text-right">
      <a class="btn btn-xs btn-danger"
         role="button"
         href="/invite/{{invite.id}}/delete">
        {%trans%}Delete{%endtrans%}
      </a>
    </td>
  </tr>
  <tr style="display:none">
    <td colspan="5">
      <div class="sentTokenMessage">
        {%trans%}Invitation message{%endtrans%}
      </div>
      {{ invite.message | safe }}
    </td>
  </tr>
  {% endfor %}
</table>
{% if not invites %}
    0 {%trans%}Invitations{%endtrans%}.
{% endif %}


<script>
$(document).on('click', '.show-message', function(){
    if($(this).parent().closest('tr').next('tr').is(":visible")){
        $(this).parent().closest('tr').next('tr').hide()
        $(this).removeClass('fa-chevron-up')
        $(this).addClass('fa-chevron-down')
    }else{
        $(this).parent().closest('tr').next('tr').show() // show the sent message
        $(this).removeClass('fa-chevron-down')
        $(this).addClass('fa-chevron-up')
    }
});
</script>
