<!-- image_modal -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<style>
  .form-text { margin-top:0; }
  .mediaThumbnail { cursor: pointer; }
</style>

<div class="modal fade"
     id="insert_image_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="insert_image_modalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="insert_image_modalLabel">
          {{trans}}Insert image{{endtrans}}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="{{trans}}Cancel{{endtrans}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="insert_image_form"
              enctype="multipart/form-data"
              data-parsley-validate>

          <div class="form-group">
            {{ upload_media_form.alt_text.label }}
            <span class='required-dot'>●</span>
            <br />
            <span class="hint">
              {{trans}}Describe the image. This helps people with visual challenges.{{endtrans}}
            </span>
            {{ upload_media_form.alt_text(
                    class_="form-control",
                    placeholder=_('A photo of a horse galloping on the beach.'),
                    data_parsley_minlength="12",
                    data_parsley_maxlength="100")
            }}
          </div>

          <div class="form-group">
            <label for="image_url">
              {{trans}}Image URL{{endtrans}}
            </label>
            <br />
            <span class="hint">
              {{trans}}Use an image already available on the Internet.{{endtrans}}
            </span>
            <input type="url"
                  class="form-control"
                  id="image_url"
                  placeholder="https://" />
          </div>
          {% if current_user.can_upload() %}
            <div class="form-group">
                <label for="media_file">
                  {{trans}}Or upload a new image{{endtrans}}
                </label>
                {{ upload_media_form.media_file(
                            class_="form-control",
                            style="height: auto",
                            multiple="false",
                            data_parsley_max_file_size=config['MAX_MEDIA_SIZE'],
                            data_parsley_filemimetypes="image/png, image/jpeg",
                          )
                }}
            </div>
          {% endif %}
            <div>
              <button id="imageModalSaveButton"
                      type="submit"
                      class="btn btn-success">
                  {{trans}}Insert{{endtrans}}
                  <i id="upload_spinner"
                     style="display:none"
                     class="fa fa-circle-o-notch fa-spin">
                  </i>
              </button>
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal">
                  {{trans}}Cancel{{endtrans}}
              </button>
            </div>
          {% if current_user.media.count() %}
            <div style="margin-top:2em;">
              <label>
              {{trans}}Optionally, reuse one of your previous images{{endtrans}}
              </label>
              <div id="media_list">
                {% for image in current_user.media %}
                  <img src="{{image.get_thumbnail_url()}}"
                       class="mediaThumbnail"
                       alt="{{image.alt_text}}"
                       title="{{image.alt_text}}"
                       media_id="{{image.id}}" />
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

<script>
jQuery(function($) {
  $("#insert_image_form").on('change', '#new_image_file', function(){
    $('#new_image_file_error').hide()
  });
  $(".mediaThumbnail").on("click", function() {
    var media_id = $(this).attr("media_id")
    $.ajax({
        url : "/media/get-values/"+media_id,
        type: "GET",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data !== false) {
              $('#alt_text').val(data.media.alt_text);
              $('#image_url').val(data.media.image_url);
              $('#media_file').val('');
              $(document).trigger("insert_image");
            }
        }
    });
  });
  $('#insert_image_form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
  .on('form:submit', function() {
    event.preventDefault();
    {% if not config['ENABLE_UPLOADS'] == True %}
      $(document).trigger("insert_image");
    {% else %}
      var formFields = document.getElementById('insert_image_form').elements;
      var file = formFields['media_file'].files[0];
      if (file === undefined) {
        $(document).trigger("insert_image");
      } else {
        $("#upload_spinner").show();
        var form_data = new FormData();
        form_data.append('media_file', file);
        form_data.append('alt_text', $('#alt_text').val());
        $.ajax({
            url : "/media/save",
            type: "POST",
            data : form_data,
            processData: false,
            contentType: false,
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
            },
            success: function(data, textStatus, jqXHR)
            {
              if (data.errors === undefined) {
                //console.log(data)
                $('#image_url').val(data.media.image_url);
                $('#alt_text').val(data.media.alt_text)
                $("#upload_spinner").hide();
                $(document).trigger("insert_image");
              }
            }
        });
      }
    {% endif %}
  });
  window.Parsley
  .addValidator('maxFileSize', {
    validateString: function(_value, maxSize, parsleyInstance) {
      if (!window.FormData) {
        return true;
      }
      var files = parsleyInstance.$element[0].files;
      return files.length != 1  || files[0].size <= maxSize;
   },
    requirementType: 'integer',
    messages: {
      {% set size = human_readable_bytes(config['MAX_MEDIA_SIZE']) %}
      {{current_user.language}}:
      "{%trans%}The file should be no larger than {{size}}{%endtrans%}"
    }
  })
  .addValidator('filemimetypes', {
    validateString: function(_value, requirement, parsleyInstance) {
      //console.log(requirement)
      if (!window.FormData) {
        return true;
      }
      var file = parsleyInstance.$element[0].files;
      if (file.length == 0) {
        return true;
      }
      var allowedMimeTypes = requirement.replace(/\s/g, "").split(',');
      return allowedMimeTypes.indexOf(file[0].type) !== -1;
    },
    requirementType: 'string',
    messages: {
      {{current_user.language}}: "{%trans%}File type not allowed{%endtrans%}"
    }
  });
});
</script>
