<!-- link_modal -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">


<div class="modal fade"
     id="insert_link_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="insert_link_modalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="insert_link_modalLabel">
          {{trans}}Insert link{{endtrans}}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="{{trans}}Cancel{{endtrans}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="insert_link_form"
              data-parsley-validate>

          <div class="form-group">
            <label for="link_text">
              {{trans}}Text{{endtrans}}
            </label>
            <br />
            <input type="text"
                   id="link_text"
                   class="form-control" />
          </div>
          <div class="form-group">
            <label for="link_url">
              {{trans}}URL{{endtrans}}
            </label>
            <span class='required-dot'>●</span>
            <br />
            <input type="url"
                  class="form-control"
                  id="link_url"
                  placeholder="https://" />
          </div>
          <div>
            <button id="linkModalSaveButton"
                    type="submit"
                    class="btn btn-success">
                {{trans}}Insert{{endtrans}}
            </button>
            <button type="button"
                    class="btn btn-primary"
                    data-dismiss="modal">
                {{trans}}Cancel{{endtrans}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
jQuery(function($) {
  $('#insert_link_form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
  .on('form:submit', function() {
    event.preventDefault();
    $(document).trigger("insert_link");
  });
});
</script>
