{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% set consent=form.get_consent() %}
      {% with text=consent,
              title=_("GDPR"),
              sub_title=_("This text will be appended to your form."),
              toggle_enabled_url=url_for('form_bp.toggle_data_consent', form_id=form.id),
              return_url=url_for('form_bp.inspect_form', form_id=form.id),
              default_markdown=form.get_default_consent().markdown,
              force_required=True %}
        {% include 'common/edit-consent.html' %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
