{% extends "base.html" %}
{% block content %}

<!-- inspect_form_page -->

<script src="/static/formBuilder/form-render.min.js"></script>
<script src="/static/easymde/easymde.min.js"></script>
<script src="/static/jquery/jquery.color-2.2.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/easymde/easymde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">

{% set dataConsent = form.get_consent_for_rendering() %}
{% set total_answers = form.get_total_answers() %}
{% set author = form.get_author() %}

<div class="container">
  <div class="row">
    <div id="details_col" class="col-md-6">

      {% include '_form-details.html' %}

      <div class="title_1 delimited" style="margin-top:2.5em">
        {%trans%}After replying to the form{%endtrans%}
        {% if is_form_editor %}
        <div style="float:right">
          <button id="show-after-submit-editor-button"
                  class="btn btn-primary btn-xs">
              {%trans%}Edit text{%endtrans%}
          </button>
        </div>
        {% endif %}
      </div>
      <div class="title_text_subtext">
      {%trans%}Say something to the user after the form has been submitted{%endtrans%}
      </div>
      <div id="after-submit-html" class="afterSubmitText marked-up">
          {{ form.get_after_submit_text_html() | safe }}
      </div>

    {% if is_form_editor %}
      <div id="after-submit-editor" style="display:none">
        <input id="save-after-submit-mde"
               class="btn-success btn btn-sm"
               type="button"
               value="{%trans%}Save{%endtrans%}" />
        <input id="cancel-after-submit-mde"
               class="btn-primary btn btn-sm"
               type="button"
               value="{%trans%}Cancel{%endtrans%}" />
        <p></p>
        <!-- keep textarea on one line -->
        <textarea id="after-submit-mde">{{ form.get_after_submit_text_markdown() }}</textarea>
      </div>
    {% endif %}

    {% if form.can_expire() %}
      <div class="title_1 delimited" style="margin-top:2.5em">
        {%trans%}When the form has expired{%endtrans%}
        {% if is_form_editor %}
        <div style="float:right">
        <button id="show-expired-editor-button"
                class="btn btn-primary btn-xs">
            {%trans%}Edit text{%endtrans%}
        </button>
        </div>
        {% endif %}
      </div>
      <div class="title_text_subtext">
      {%trans%}Say something to the user if the form has expired{%endtrans%}
      </div>
      <div id="expired-html" class="expiredText marked-up">
        {{ form.get_expired_text_html() | safe }}
      </div>
      {% if is_form_editor %}
      <div id="expired-editor" style="display:none">
        <input id="save-expired-mde"
               class="btn-success btn btn-sm"
               type="button"
               value="{%trans%}Save{%endtrans%}" />
        <input id="cancel-expired-mde"
               class="btn-primary btn btn-sm"
               type="button"
               value="{%trans%}Cancel{%endtrans%}" />
        <p></p>
        <!-- keep textarea on one line -->
        <textarea id="expired-mde">{{ form.get_expired_text_markdown() }}</textarea>
      </div>
      {% endif %}
    {% endif %}

    {% if is_form_editor %}
      <div class="title_1 delimited" style="margin-top:2.5em">
        {%trans%}Other options{%endtrans%}
      </div>
      <div id="embed_snippet">
        <code>
          {{'<iframe width="500" height="600" frameborder="0" src="'}}{{form.get_embed_url()}}{{'"></iframe>'}}
        </code>
      </div>

      <a class="btn btn-primary btn-sm mb-1 mb-lg-0"
         role="button"
         href="/forms/log/list/{{form.id}}">
         {%trans%}View log{%endtrans%}
      </a>
      <a class="btn-primary btn btn-sm mb-1 mb-lg-0"
         role="button"
         href="#!"
         onClick="js:$('#embed_snippet').show();">
         {%trans%}Embed form{%endtrans%}
      </a>
      <a class="btn-primary btn btn-sm mb-1 mb-lg-0"
         role="button"
         href="/form/{{form.id}}/qr">
         {%trans%}QR{%endtrans%}
         <i class="fa fa-qrcode" aria-hidden="true"></i>
      </a>
      <a class="btn-primary btn btn-sm mb-1 mb-lg-0"
         role="button"
         href="/form/{{form.id}}/duplicate">
         {%trans%}Duplicate form{%endtrans%}
      </a>
      <p></p>
      {% if total_answers == 0 %}
      <a class="btn-warning btn btn-sm"
         role="button"
         href="/form/{{form.id}}/delete">
         {%trans%}Delete form{%endtrans%}
      </a>
      {% else %}
      <a class="btn-warning btn btn-sm"
         role="button"
         href="/form/{{form.id}}/delete">
         {%trans%}Delete form and answers{%endtrans%}
      </a>
      {% endif %}
    {% endif %}

    {% if g.is_admin %}
      <div class="title_1 delimited" style="margin-top:2.5em">
          {%trans%}Admin options{%endtrans%}
      </div>
      <a class="btn btn-primary"
         role="button"
         href="/form/{{form.id}}/duplicate">
         {%trans%}Duplicate{%endtrans%}
      </a>
      {% if form.admin_preferences['public'] %}
      <a class="btn btn-danger"
         role="button"
         href="/admin/form/{{form.id}}/toggle-public">
         {%trans%}Disable{%endtrans%}
      </a>
      {% else %}
      <a class="btn btn-primary"
         role="button"
         href="/admin/form/{{form.id}}/toggle-public">
         {%trans%}Enable{%endtrans%}
      </a>
      {% endif %}
    {% endif %}

    {% if current_user.is_root_user() %}
      <div class="title_1 delimited" style="margin-top:2.5em">
          {%trans%}Super Admin options{%endtrans%}
      </div>
      <a class="btn btn-primary"
         role="button"
         href="/admin/form/{{form.id}}/change-author">
         {%trans%}Change author{%endtrans%}
      </a>
    {% endif %}
    </div>

    <div class="col-md-6">
      <div class="title_1 delimited">
      {%trans%}Form{%endtrans%}
        {% if is_form_editor and not form.edit_mode %}
        <div style="float:right">
          <a class="btn-primary btn btn-sm"
             role="button"
             href="/form/{{form.id}}/edit">
             {%trans%}Edit form{%endtrans%}
             <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </div>
        {% endif %}
      </div>

      <div id="liberaform" class="liberaform">
        <div class="formIntroduction marked-up">
        {{ form.introduction_text['html'] | safe }}
        </div>
        <div id='required_message'
             class='required'
             style="display:none">
          ● {%trans%}Required fields{%endtrans%}
        </div>
        <div id="fb-render"></div>
        {% if form.has_email_field() %}
        <div id="send_confirmation"
             class="form-group form-check confirmation-group"
             {% if not form.send_confirmation %}
             style="display:none;"
             {% endif %}>
          <input id="confirmation_checkbox"
                 class="form-check-input send-confirmation"
                 type="checkbox"
                 name="send-confirmation"
                 value="ok"
                 disabled />
          <label id="confirmation_email"
                 for="confirmation_checkbox"
                 class="form-check-label send-confirmation">
            {%trans%}Send me confirmation by mail{%endtrans%}
          </label>
        </div>
        {% endif %}
        <div id="data_consent_preview"
             class="consentText form-group"
             {% if dataConsent['enabled']==False %}
             style="display:none;"
             {% endif %}>
          <div class="dataConsentText">{{ dataConsent['html']|safe }}</div>
          <div class="form-check">
            <input id="dummy-consent-checkbox"
                   type="checkbox"
                   name="DPL"
                   class="form-check-input consent"
                   required />
            <label id="DPL-checkbox"
                   for="dummy-consent-checkbox"
                   class="form-check-checkbox_text consent required">
                {{ dataConsent['checkbox_text'] }}
                <span class="required-dot">●</span>
            </label>
          </div>
        </div>
        <button class="btn btn-lg btn-success"
               type="submit"
               value=""
               disabled >
            {%trans%}Send{%endtrans%}
        </button>
      </div>
    </div>
  </div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
var allowed_extensions = "{{ ', '.join(g.site.mimetypes['extensions']).upper() }}";
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData: formData,
        dataType: 'json',
        i18n: {
            locale: "{{ config['LANGUAGES'][current_user.language][1] }}",
            location: "/static/formBuilder-languages/",
        },
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                postFormRender();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});

{% with form=form %}
{% include '_post-render-scripts.js' %}
{% endwith %}

{% if is_form_editor %}
// after submit editor
$(document).ready(function() {
    var afterSubmitMDE = new EasyMDE({
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: document.getElementById("after-submit-mde")
                             });
    $("#show-after-submit-editor-button").click(function(){
        $("#after-submit-html").hide();
        $('#after-submit-editor').show(0, function() {
            afterSubmitMDE.codemirror.refresh();
        });
        $("#show-after-submit-editor-button").prop('disabled', true);
    });
    $("#cancel-after-submit-mde").click(function(){
        $("#after-submit-editor").hide()
        $("#after-submit-html").show()
        $("#show-after-submit-editor-button").prop('disabled', false);
        afterSubmitMDE.value($("#after-submit-mde").val())
    });
    $("#save-after-submit-mde").click(function(){
        var markdown=afterSubmitMDE.value()
        $.ajax({
            url : "/form/{{form.id}}/save-after-submit-text",
            type: "POST",
            dataType: "json",
            data: {"markdown": markdown},
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                //console.log(data.markdown)
                $("#show-after-submit-editor-button").prop('disabled', false);
                $("#after-submit-html").html(data.html)
                $("#after-submit-editor").hide()
                $("#after-submit-html").show(0)
                fadeOutHighlight($("#after-submit-html"))
                $("#after-submit-mde").val(data.markdown)
                afterSubmitMDE.value($("#after-submit-mde").val())
            }
        });
    });
});
// expired text editor
$(document).ready(function() {
    var expiredMDE = new EasyMDE({
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: document.getElementById("expired-mde")
                             });
    $("#show-expired-editor-button").click(function(){
        $("#expired-html").hide();
        $('#expired-editor').show(0, function() {
            expiredMDE.codemirror.refresh();
        });
        $("#show-expired-editor-button").prop('disabled', true);
    });
    $("#cancel-expired-mde").click(function(){
        $("#expired-editor").hide()
        $("#expired-html").show()
        $("#show-expired-editor-button").prop('disabled', false)
        expiredMDE.value($("#expired-mde").val())
    });
    $("#save-expired-mde").click(function(){
        var markdown=expiredMDE.value()
        $.ajax({
            url : "/form/{{form.id}}/save-expired-text",
            type: "POST",
            dataType: "json",
            data: {"markdown": markdown},
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                $("#show-expired-editor-button").prop('disabled', false);
                $("#expired-html").html(data.html)
                $("#expired-editor").hide()
                $("#expired-html").show(0)
                fadeOutHighlight($("#expired-html"))
                $("#expired-mde").val(data.markdown)
                expiredMDE.value($("#expired-mde").val())
            }
        });
    });
});
function fadeOutHighlight(element){
    element.css("background-color", "#C3FDB8")
    element.animate({ backgroundColor: "white" }, 2000)
}
{% endif %}
</script>

{% endblock %}
