{% extends "base.html" %}
{% block content %}

<!-- log_list_page -->

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="returnToForm">
        <a class="btn btn-primary btn-sm" role="button" href="/form/{{form.id}}">
          {%trans%}Return to form{%endtrans%}
        </a>
        {{ form.slug }}
      </div>

      <div class="title_1">
        {%trans%}Log{%endtrans%}
      </div>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>{%trans%}Time{%endtrans%}</th>
            <th>{%trans%}User{%endtrans%}</th>
            <th>{%trans%}Message{%endtrans%}</th>
          </tr>
        </thead>
        <tbody>
        {% for log in form.log %}
          <tr>
            <td>
              {{log.created.astimezone(g.timezone).strftime('%Y-%m-%d %H:%M:%S')}}
            </td>
            <td>{{log.username}}</td>
            <td>{{log.message}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
