{% extends "base.html" %}
{% block content %}

<!-- my_forms_page -->

<div class="container">

  <nav class="navbar navbar-expand-sm"
       style="padding:0;">

    <span class="navbar-brand navbar-text"
          style="font-size: 1.5rem">
      {%trans%}My forms{%endtrans%}
    </span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#otherFormOptions"
            aria-controls="otherFormOptions"
            aria-expanded="false"
            aria-label="Toggle other options">
      <i class="fa fa-align-justify" style="color: gray;" aria-hidden="true"></i>
    </button>

    {% if g.is_editor %}
    <div class="collapse navbar-collapse" id="otherFormOptions">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pb-2">
          <a class="btn btn-sm btn-success"
             role="button"
             href="/forms/new">
            {%trans%}New form{%endtrans%}
            <i class="fa fa-star" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item pb-2">
          <a class="btn btn-sm btn-primary"
             role="button"
             href="/forms/templates">
            {%trans%}Templates{%endtrans%}
            <i class="fa fa-file-text" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item pb-2">
          <a class="btn btn-sm btn-primary"
             role="button"
             href="/user/{{current_user.username}}/statistics">
            {%trans%}Statistics{%endtrans%}
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    {% endif %}
  </nav>

  <div class="row">
    <div class="col">
      <hr />
      <div vue-component="data-display"
           data-endpoint="/data-display/my-forms/{{current_user.id}}"
           data-language="{{ current_user.language }}"
           data-csrf_token="{{ csrf_token() }}">
      </div>
      <div vue-component="items-renderer"></div>
    </div>

  </div>
</div>

<script src="/static/data-display/data-display.js"></script>
<script src="/static/data-display/items-renderer.js"></script>

{% endblock %}
