{% extends "base.html" %}
{% block content %}

<!-- preview_form_page -->

<script src="/static/formBuilder/form-render.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="title_1 delimited">
        {% if is_template %}
          {%trans%}Template{%endtrans%}: {{ slug }}
        {% else %}
          {%trans%}Preview{%endtrans%}: {{ slug }}
        {% endif %}
      </div>

      <div id="liberaform" class="liberaform">
        <div class="formIntroduction marked-up">
        {{ introduction_text | safe }}
        </div>
        <div id='required_message' class='required' style="display:none">
          ● {%trans%}Required fields{%endtrans%}
        </div>
        <div id="fb-render"></div>

        <div class="form-actions">
          <button class="btn btn-lg btn-success"
                  type="submit"
                  value=""
                  disabled >
              {%trans%}Send{%endtrans%}
          </button>
        </div>
        <p>&nbsp;</p>
      </div>
      <hr />
      {% if is_template %}
      <a class="btn btn-success mb-2"
         role="button"
         href="/forms/template/{{ template.id }}/create-form">
         {# i18n: Button to use the template to create a new form from it #}
        {%trans%}Use this template{%endtrans%}
      </a>
      <a class="btn btn-primary mb-2"
         role="button"
         href="/forms/templates">
        {%trans%}Go back{%endtrans%}
      </a>
      {% else %}
      {% set form_action = "/form/save" %}
      {% if session_data['form_id'] %}
        {% set form_action = "/form/" + session_data['form_id'] + "/save" %}
      {% endif %}
      <form action="{{form_action}}" method="post">
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}" />
        <input class="btn-success btn"
               type="submit"
               value="{%trans%}Save{%endtrans%}">
        {% if session_data['form_id'] %}
          <a class="btn-primary btn"
             role="button"
             href="/form/{{session_data['form_id']}}/edit">
            {%trans%}Edit again{%endtrans%}
          </a>
          <a class="btn-primary btn"
             role="button"
             href="/form/{{session_data['form_id']}}?cancel-edit-mode=true">
            {%trans%}Cancel{%endtrans%}
          </a>
        {% else %}
          <a class="btn-primary btn"
             role="button"
             href="/form/edit">
            {%trans%}Edit again{%endtrans%}
          </a>
          <a class="btn-primary btn"
             role="button"
             href="/forms">
            {%trans%}Cancel{%endtrans%}
          </a>
        {% endif %}
      </form>
      {% endif %}
    </div>
  </div>
</div>

<script>
var allowed_extensions = "{{ ', '.join(g.site.mimetypes['extensions']).upper() }}";
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ session_data['formStructure'] | tojson }};
    var formRenderOpts = {
        formData: formData,
        dataType: 'json',
        i18n: {
            locale: "{{ config['LANGUAGES'][current_user.language][1] }}",
            location: "/static/formBuilder-languages/",
        },
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                postFormRender();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
{% with form=None %}
{% include '_post-render-scripts.js' %}
{% endwith %}
</script>

{% endblock %}
