{% extends "base.html" %}
{% block content %}

<!-- share_form_page -->

{% if invitation_email %}
<div class="modal"
     id="user_not_found_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="edit_mode_modalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="edit_mode_modalLabel">
          {{invitation_email}}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="{{trans}}Cancel{{endtrans}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{trans}}We can't find a user with that email address.{{endtrans}}
        </p>
        <p>
          {% set email = invitation_email %}
          {{trans}}Do you want to send an invitation to {{email}}?{{endtrans}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal">
            {{trans}}No thanks{{endtrans}}
        </button>
        <button type="button"
                class="btn btn-success"
                onclick="window.location.href='/form/{{form.id}}/invitation/{{invitation_email}}'">
            {{trans}}Yes{{endtrans}}
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <div class="returnToForm">
        <a class="btn btn-primary btn-sm"
           role="button"
           href="/form/{{form.id}}">
          {%trans%}Return to form{%endtrans%}
        </a>
        {{ form.slug }}
      </div>
      <h2 class="mt-4">
        {%trans%}Share form{%endtrans%}
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br />
      <div class="title_1"
           style="margin-bottom:0">
           {%trans%}Editors{%endtrans%}
      </div>
      <p>
        {%trans%}Users listed here have the <b>same permissions</b> as you{%endtrans%}
      </p>

      <table class="table table-sm">
      {% for formuser in FormUser.find_all(form_id=form.id, is_editor=True) %}
        <tr id="editor_{{formuser.user.id}}">
          <td>
            {{ formuser.user.email }}
          </td>
          <td class="text-right">
          {% if form.is_author(formuser.user) %}
            <span class="badge badge-pill badge-light author-badge">
              {%trans%}Author{%endtrans%}
            </span>
          {% else %}
            <input class="btn btn-xs btn-danger"
                   type="button" value="{%trans%}Remove{%endtrans%}"
                   onClick="js:removeEditor('{{formuser.user.id}}');">
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>

      <form action="/form/{{form.id}}/add-editor" method="POST">
        {{ wtform.csrf_token }}
        <div class="input-group input-group-sm mb-3">
          <input name="email"
                 type="text"
                 class="form-control"
                 placeholder="person@example.com"
                 aria-label="New Editor's email address"
                 aria-describedby="button-editor">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-editor">
              {%trans%}Add new editor{%endtrans%}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-3"></div>
    <div id="notifications" class="col-md-6">

      <div class="title_1"
           style="margin-bottom:0">
           {%trans%}Share the answers{%endtrans%}
      </div>
      <p>
        {%trans%}Users listed here can view this form's answers{%endtrans%}
      </p>
      <table class="table table-sm">
      {% for formuser in FormUser.find_all(form_id=form.id, is_editor=False) %}
        <tr id="reader_{{formuser.user.id}}">
          <td>
            {{ formuser.user.email }}
          </td>
          <td class="text-right">
            <input class="btn btn-xs btn-danger"
                   type="button" value="{%trans%}Remove{%endtrans%}"
                   onClick="js:removeReader('{{formuser.user.id}}');">
          </td>
        </tr>
      {% endfor %}
      </table>

      <form action="/form/{{form.id}}/add-reader" method="POST">
        {{ wtform.csrf_token }}
        <div class="input-group input-group-sm mb-3">
          <input name="email"
                 type="text"
                 class="form-control"
                 placeholder="person@example.com"
                 aria-label="Recipient's username"
                 aria-describedby="button-editor">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-editor">
              {%trans%}Add user{%endtrans%}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if invites %}
  <div id="invites" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br />
      <div class="title_2">
        {%trans%}Invitations{%endtrans%}
      </div>
      {% with display_only_grants=True %}
        {% include 'common/list-invites.html' %}
      {% endwith %}
    </div>
  </div>
  {% endif %}

  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">

      <div id="restricted_access"
           class="title_1"
           style="margin-bottom:0">
           {%trans%}Restricted access{%endtrans%}
      </div>
      <p>
        {%trans%}Only visible to people with a user account (login required){%endtrans%}
      </p>
      <div>
        <span id="toggle_restricted_access" class="btn-group btn-toggle">
          <button id="restricted_access_true"
                  class="btn btn-sm
                         {% if form.restricted_access %}
                         btn-primary
                         {% else %}
                         btn-outline-secondary
                         {% endif %}">
            {%trans%}Restricted{%endtrans%}
          </button>
          <button id="restricted_access_false"
                  class="btn btn-sm
                         {% if not form.restricted_access %}
                         btn-primary
                         {% else %}
                         btn-outline-secondary
                         {% endif %}">
            {%trans%}Public form{%endtrans%}
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
{% if invitation_email %}
$(document).ready(function(){
    $('#user_not_found_modal').modal('show');
});
{% endif %}
function removeEditor(editor_id){
    $.ajax({
        url : "/form/{{form.id}}/remove-editor/"+editor_id,
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data == editor_id) {
                $('#editor_'+editor_id).hide();
            }
        }
    });
}
function removeReader(reader_id){
    $.ajax({
        url : "/form/{{form.id}}/remove-reader/"+reader_id,
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data == reader_id) {
                $('#reader_'+reader_id).hide();
            }
        }
    });
}
document.getElementById('toggle_restricted_access').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/{{form.id}}/toggle-restricted-access",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.restricted == true) {
                $('#restricted_access_true').addClass('btn-primary')
                                  .removeClass('btn-outline-secondary');
                $('#restricted_access_false').removeClass('btn-primary')
                                   .addClass('btn-outline-secondary');
            }
            else if (data.restricted == false) {
                $('#restricted_access_true').removeClass('btn-primary')
                                  .addClass('btn-outline-secondary');
                $('#restricted_access_false').addClass('btn-primary')
                                   .removeClass('btn-outline-secondary');
            }
        }
    });
});
</script>

{% endblock %}
