{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>
<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ g.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

{% set dataConsent = form.get_consent_for_rendering() %}
{% set can_attach_files = form.has_file_field() %}

{% if not g.embedded %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
{% endif %}
      <div id="liberaform"
           class="liberaform"
           style="display:none">
        <div class="formIntroduction marked-up" >
          {{ form.introduction_text['html'] | safe }}
        </div>

        <div id='required_message' class='required' style="display:none">
          ● {%trans%}Required fields{%endtrans%}
        </div>

        {% if can_attach_files %}
        <form id="form" method="POST" enctype="multipart/form-data">
        {% else %}
        <form id="form" method="POST">
        {% endif %}
          {% if not g.embedded %}
          <input type="hidden"
                 name="csrf_token"
                 value="{{ csrf_token() }}" />
          {% endif %}
          <div id="fb-render">
          </div>
          {% if form.might_send_confirmation_email() %}
          <div class="form-group form-check confirmation-group">
            <input id="confirmation_checkbox"
                   class="form-check-input send-confirmation"
                   type="checkbox"
                   name="send-confirmation"
                   value="ok"
                   disabled
            />
            <label id='confirmation_email'
                   for="confirmation_checkbox"
                   class="form-check-label send-confirmation">
              {%trans%}Send me confirmation by mail{%endtrans%}
            </label>
          </div>
          {% endif %}
          {% if dataConsent['enabled'] %}
          <div class="consentText
                      form-group">
            <div class="dataConsentText" >
              {{ dataConsent['html'] | safe }}
            </div>
            <div class="form-check">
              <input id="I_agree"
                     type="checkbox"
                     class="form-check-input consent"
                     name="DPL"
                     value="ok"
                     required />
              <label for="I_agree"
                     class="form-check-label consent required">
                {{ dataConsent['checkbox_text'] }}
                <span class="required-dot">●</span>
              </label>
            </div>
          </div>
          {% endif %}
          <button class="btn
                        btn-lg
                        btn-success"
                  type="submit">
            {%trans%}Send{%endtrans%}
            <i id="upload_spinner"
               style="display:none"
               class="fa fa-circle-o-notch fa-spin">
            </i>
          </button>
        </form>
      </div>
{% if not g.embedded %}
    </div>
  </div>
</div>
{% endif %}

<script>
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData: formData,
        dataType: 'json',
        i18n: {
            locale: "en-US",
            location: "/static/formBuilder-languages/",
        },
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                $('#liberaform').show();
                postFormRender();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
{% with form=form %}
{% include '_post-render-scripts.js' %}
{% endwith %}


$(function () {
  var allowed_extensions = "{{ ', '.join(g.site.mimetypes['extensions']).upper() }}";
  var parsley_options = {
    // append the error message to the input group
    errorsContainer: function (field) {
        var input = field.element;
        var type = $(input).prop('type');
        var form_group = $(input).closest(".form-group");
        if (form_group.length != 0 && (type == "radio" || type == "checkbox")) {
          return form_group;
        }
      }
  }
  $('#form').parsley(parsley_options).on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
  .on('form:submit', function() {
    $("#upload_spinner").show().delay(5000).hide();
  });
  {% if can_attach_files %}
  window.Parsley
  .addValidator('maxFileSize', {
    validateString: function(_value, maxSize, parsleyInstance) {
      if (!window.FormData) {
        //alert('You are making all developpers in the world cringe. Upgrade your browser!');
        return true;
      }
      var form_group = parsleyInstance.$element.closest('.form-group');
      if (form_group.length != 0){
        $(form_group).find('.file_hints').hide()
      }
      var files = parsleyInstance.$element[0].files;
      return files.length != 1  || files[0].size <= maxSize * 1024;
    },
    requirementType: 'integer',
    messages: {
      {% set size = human_readable_bytes(config["MAX_ATTACHMENT_SIZE"]) %}
      {{g.language}}:
      '{%trans%}The file should be no larger than {{size}}{%endtrans%}'
    }
  })
  .addValidator('filemimetypes', {
    validateString: function(_value, requirement, parsleyInstance) {
      //console.log(requirement)
      if (!window.FormData) {
        return true;
      }
      var file = parsleyInstance.$element[0].files;
      if (file.length == 0) {
        return true;
      }
      var allowedMimeTypes = requirement.replace(/\s/g, "").split(',');
      return allowedMimeTypes.indexOf(file[0].type) !== -1;
    },
    requirementType: 'string',
    messages: {
      {{g.language}}:
      '{%trans%}Valid file types{%endtrans%}'+': '+allowed_extensions
    }
  });
  {% endif %}
});
</script>

{% endblock %}
