{% extends "base.html" %}
{% block content %}

<!-- delete_account_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">

      <div class="title_1 delimited">
          {%trans%}Delete account{%endtrans%}: {{ current_user.username }}
      </div>
      <div class="title_3">
      {%trans%}You will delete your account and the following data{%endtrans%}
      </div>
      <table class="table table-sm" style="margin-top: 1em">
        <tr>
          <td>{%trans%}The forms you have created{%endtrans%}</td>
          <td>{{ current_user.authored_forms_total() }}</td>
        </tr>
        <tr>
          <td>{%trans%}The replies to those forms{%endtrans%}</td>
          <td>{{ current_user.get_answers().count() }}</td>
        </tr>
      </table>
      <p>
      {{forms_with_editors}}
      </p>
      <hr />
      <form method="POST" autocomplete="off">
        {{ wtform.csrf_token }}
        <p>
            {{ wtform.delete_username.label }}
            <span class='required-dot'>●</span><br />
            {{ wtform.delete_username(class_="form-control") }}
            {% for error in wtform.delete_username.errors %}
                <span class="formError">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
          {{ wtform.delete_password.label }}
          <span class='required-dot'>●</span><br />
          {{ wtform.delete_password(class_="form-control",
                                    autocomplete="new-password") }}
          {% for error in wtform.delete_password.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <div class="title_1">
          {%trans%}This is irreversible!{%endtrans%}
        </div>

        <input class="btn-danger btn"
               type="submit"
               value="{%trans%}Delete account{%endtrans%}" />
        <a class="btn btn-primary"
           role="button"
           href="/user/{{current_user.username}}">
          {%trans%}Cancel{%endtrans%}
        </a>
      </form>
    </div>
  </div>
</div>

<script>
$(function () {
  $('form').parsley().on('form:validate', function() {
    $('span[class=formError]').remove()
  })
})
</script>

{% endblock %}
