{% extends "base.html" %}
{% block content %}

<!-- user_settings_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="title_1 delimited">
        {%trans user=current_user.username%}Hello {{user}}!{%endtrans%}
      </div>

      {% if current_user.validated_email != True %}
      <div class="row">
        <div class="col">
          {%trans%}We have sent you a link to validate your email address{%endtrans%}
        </div>
        <div class="col-auto">
          <a  class="btn btn-sm btn-success"
              role="button"
              href="/user/send-email-validation">
              {%trans%}Send again{%endtrans%}
          </a>
        </div>
      </div>
      <hr />
      <p>&nbsp;</p>
      {% endif %}

      <table class="table table-sm sparse-table">
        <tr>
          <td>{%trans%}Email address{%endtrans%}</td>
          <td>
          {{ current_user.email }}
          </td>
          <td class="text-right">
            {% if not current_user.is_ldap_user() %}
            <a class="btn btn-primary btn-xs"
               role="button"
               href="/user/change-email">
               {%trans%}Change{%endtrans%}
            </a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>{%trans%}Password{%endtrans%}</td>
          <td>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </td>
          <td class="text-right">
            {% if not current_user.is_ldap_user() %}
            <a class="btn btn-primary btn-xs"
               role="button"
               href="/user/reset-password">
               {%trans%}Change{%endtrans%}
             </a>
             {% endif %}
          </td>
        </tr>
        <tr>
          <td>{%trans%}Preferred language{%endtrans%}</td>
          <td>{{ config['LANGUAGES'][current_user.language][0] }}</td>
          <td class="text-right">
            <a class="btn btn-primary btn-xs"
               role="button"
               href="/user/change-language">
               {%trans%}Change{%endtrans%}
             </a>
          </td>
        </tr>
        <tr>
          <td>{%trans%}Time zone{%endtrans%}</td>
          <td>
              {{ current_user.get_timezone() }}
          </td>
          <td class="text-right">
            <a class="btn btn-primary btn-xs"
               role="button"
               href="/user/change-timezone">
               {%trans%}Change{%endtrans%}
             </a>
          </td>
        </tr>
      </table>
{% if current_user.enabled and current_user.is_editor() %}
      <p>&nbsp;</p>
      <div class="title_2 delimited">
          {%trans%}Email notifications{%endtrans%}
      </div>
      <table class="table table-sm sparse-table">
        <tr>
          <td>
            {%trans%}Notify me on each new answer{%endtrans%}
          </td>
          <td class="text-right">
            <div id="toggle_new_answer_notification"
                 class="btn-group btn-toggle">
              {% set new_answer_notification = current_user.new_answer_notification_default() %}
              <button id="new_answer_notification_true"
                      class="btn btn-xs
                             {% if new_answer_notification %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}
                      ">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="new_answer_notification_false"
                      class="btn btn-xs
                             {% if not new_answer_notification %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}
                      ">
                  {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        <tr style="display:none">
          <td>
            {%trans%}Consentment texts{%endtrans%}
          </td>
          <td class="text-right">
            <a href="/user/{{current_user.username}}/consent"
               class="btn btn-xs btn-primary">
               {%trans%}Edit{%endtrans%}
            </a>
          </td>
        </tr>
      </table>

      {% if current_user.uploads_enabled and config['CRYPTO_KEY'] %}
      <p>&nbsp;</p>
      <div class="title_2 delimited">
          {%trans%}File uploads{%endtrans%}
      </div>
      <table class="table table-sm sparse-table">
        {% set media_usage = current_user.media_usage() %}
        {% set attachments_usage = current_user.attachments_usage() %}
        {% set total_usage = media_usage + attachments_usage %}
        <tr>
          <td colspan="2">
            {%trans%}Disk usage{%endtrans%}
            <span class="badge
                        {% if total_usage < current_user.uploads_limit %}
                        btn-secondary
                        {% else %}
                        btn-danger
                        {% endif %}"
                  style="font-size: 0.9em">
              {% if total_usage > 0 %}
              {{'%0.2f' % (( total_usage * 100) / current_user.uploads_limit )|float}} %
              {% else %}
              0 %
              {% endif %}
            </span>
          <td class="text-right">
            {% set assigned_bytes = human_readable_bytes(current_user.uploads_limit) %}
            {% set total_used_bytes = human_readable_bytes(total_usage) %}
            {%trans%}{{total_used_bytes}} of {{assigned_bytes}}{%endtrans%}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {%trans%}Form attachments{%endtrans%}
          </td>
          <td class="text-right">
            {{ human_readable_bytes(attachments_usage) }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {# i18n: shows the total disk usage that user has made along all their forms, displayed in User settings #}
            {%trans%}Form media{%endtrans%}
          </td>
          <td class="text-right">
            {{ human_readable_bytes(media_usage) }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {%trans%}Add and delete form media{%endtrans%}
          </td>
          <td class="text-right">
            <a href="/user/{{current_user.username}}/media"
               class="btn btn-xs btn-primary">
               {%trans%}Edit{%endtrans%}
            </a>
          </td>
        </tr>
      </table>
      {% endif %}

      {% if config['CRYPTO_KEY'] %}
      <p>&nbsp;</p>
      <div class="title_2 delimited">
          {# i18n: means Digital social networks #}
          {%trans%}Social{%endtrans%}
      </div>
      <table class="table table-sm sparse-table">
        <tr>
          <td>
            {%trans%}Fediverse{%endtrans%}
          </td>
          <td>
            {% if current_user.fedi_auth %}
              {{ current_user.fedi_connection_title() }}
            {% endif %}
          </td>
          <td class="text-right">
            <a href="/user/{{current_user.username}}/fediverse"
               class="btn btn-xs btn-primary">
               {%trans%}Configure{%endtrans%}
            </a>
          </td>
        </tr>
      </table>
      {% endif %}

  {% if g.is_admin %}
      <p>&nbsp;</p>
      <div id="admin_settings" class="title_2">
          {%trans%}My admin settings{%endtrans%}
      </div>

      <table class="table table-sm">
        <tr>
          <td>{%trans%}Notify me when new user has registered{%endtrans%}</td>
          <td class="text-right">
            <div id="toggle_notify_newuser"
                 class="btn-group btn-toggle">
              <button id="notify_newuser_true"
                      class="btn btn-xs
                             {% if current_user.admin['notifyNewUser'] %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}
                             ">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="notify_newuser_false"
                      class="btn btn-xs
                             {% if not current_user.admin['notifyNewUser'] %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}
                             ">
                  {%trans%}False{%endtrans%}
              </button>
            </div>
           </td>
        </tr>
        <tr>
          <td>{%trans%}Notify me when new form has been created{%endtrans%}</td>
          <td class="text-right">
            <div id="toggle_notify_newform" class="btn-group btn-toggle">
              <button id="notify_newform_true"
                      class="btn btn-xs
                             {% if current_user.admin['notifyNewForm'] %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}
                      ">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="notify_newform_false"
                      class="btn btn-xs
                             {% if not current_user.admin['notifyNewForm'] %}
                             btn-primary
                             {% else %}
                             btn-outline-secondary
                             {% endif %}
                      ">
                  {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
      </table>
  {% endif %}
{% endif %}

      <p>&nbsp;</p>
      <div class="row">
        <div class="col">
          <div class="title_2">
            {%trans%}Delete my account{%endtrans%}
          </div>
          <div>
            <a  class="btn btn-sm btn-warning"
                role="button"
                href="/user/{{ current_user.id }}/delete-account">
                {%trans%}Delete{%endtrans%}
            </a>
          </div>
        </div>
      </div>
      {% if g.site.contact_info %}
      <p>&nbsp;</p>
      <div class="row">
        <div class="col">
          <div class="title_2 delimited">
            {%trans%}Contact information{%endtrans%}
          </div>
          {{ g.site.get_contact_info() | safe }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
document.getElementById('toggle_new_answer_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/user/toggle-new-answer-notification",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.default == true) {
                $('#new_answer_notification_true').addClass('btn-primary')
                                                  .removeClass('btn-outline-secondary');
                $('#new_answer_notification_false').removeClass('btn-primary')
                                                   .addClass('btn-outline-secondary');
            }
            else if (data.default == false) {
                $('#new_answer_notification_true').removeClass('btn-primary')
                                                  .addClass('btn-outline-secondary');
                $('#new_answer_notification_false').addClass('btn-primary')
                                                   .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% if g.is_admin %}
document.getElementById('toggle_notify_newuser').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/toggle-newuser-notification",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notify == true) {
                $('#notify_newuser_true').addClass('btn-primary')
                                         .removeClass('btn-outline-secondary');
                $('#notify_newuser_false').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
            }
            else if (data.notify == false) {
                $('#notify_newuser_true').removeClass('btn-primary')
                                         .addClass('btn-outline-secondary');
                $('#notify_newuser_false').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
            }
        }
    });
});
document.getElementById('toggle_notify_newform').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/toggle-newform-notification",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notify == true) {
                $('#notify_newform_true').addClass('btn-primary')
                                         .removeClass('btn-outline-secondary');
                $('#notify_newform_false').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
            }
            else if (data.notify == false) {
                $('#notify_newform_true').removeClass('btn-primary')
                                         .addClass('btn-outline-secondary');
                $('#notify_newform_false').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% endif %}
</script>

{% endblock %}
